# This is a basic workflow to help you get started with Actions

name: dev workflow

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "test"
  test:
    strategy:
      matrix:
        python-versions: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-versions }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-versions }}
          enable-cache: true

      - name: Sync dependencies
        run: uv sync --extra test --extra dev --frozen

      - name: test with tox
        run: uv run tox

      - name: list files
        run: ls -l .

      - uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: false
          files: coverage.xml
